REGISTRY=ghcr.io
IMAGE_NAME=ghcr.io/vina771/projet11-mlops
GHCR_USER=Vina771
GHCR_TOKEN=change_me
MODEL_FILE_ID=1Uz5OWnaq0YNuB-sPX54HKsYa-Cyx_A-h
TFIDF_FILE_ID=1enUkbrp1GeLTREt9i0LDBhlfl8wpszJY
PROMETHEUS_PORT=9090
GRAFANA_PORT=3000
FASTAPI_PORT=8000
STREAMLIT_PORT=8501
