REGISTRY=host.docker.internal:8080
HARBOR_PROJECT=projet-mlops
IMAGE_NAME=host.docker.internal:8080/projet-mlops/projet11-mlops
FASTAPI_IMAGE_NAME=host.docker.internal:8080/projet-mlops/projet11-fastapi
REGISTRY_USER=admin
REGISTRY_PASSWORD=change_me
API_BASE_URL=http://fastapi:8000
MODEL_FILE_ID=1Uz5OWnaq0YNuB-sPX54HKsYa-Cyx_A-h
TFIDF_FILE_ID=1enUkbrp1GeLTREt9i0LDBhlfl8wpszJY
PROMETHEUS_PORT=9090
GRAFANA_PORT=3000
FASTAPI_PORT=8000
STREAMLIT_PORT=8501
PYTHON_CI_IMAGE=python:3.11-slim
DOCKER_CI_IMAGE=docker:27-cli
TRIVY_CI_IMAGE=aquasec/trivy:latest
ANSIBLE_CI_IMAGE=cytopia/ansible:latest